[ENTITY]
[VISIBLE]
NAME = Royaume_de_Selestat
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/maps/map3.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/plane.png
POS = {400, 400}
CLICK = NULL
HOVER = NULL

[ENTITY]
[BAR | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/InventorySlots.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[INVENTORY | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/plane.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[INVENTORY | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/plane.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[ON_MAP | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/empty.png
POS = {430, 400}
CLICK = NULL
HOVER = NULL

[ENTITY]
[PLAYER | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/plane.png
POS = {650, 600}
CLICK = NULL
HOVER = NULL
