[ENTITY]
[VISIBLE]
NAME = Royaume_de_Selestat
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/maps/map3.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[BAR | INVENTORY | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/InventorySlots.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[ITEM | INVENTORY | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/plane.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[ITEM | INVENTORY | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/plane.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[BAR | XP | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/level_bar.png;{0, 150, 200, 30}
SCALE = {0.75, 0.75}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[ITEM | ON_MAP | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/empty.png
POS = {400, 400}
CLICK = NULL
HOVER = NULL

[ENTITY]
[HEART | FULL_LIFE | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/hearts.png;{0, 0, 300, 300}
SCALE = {0.1, 0.1}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[HEART | FULL_LIFE | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/hearts.png;{0, 0, 300, 300}
SCALE = {0.1, 0.1}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[HEART | FULL_LIFE | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/hearts.png;{0, 0, 300, 300}
SCALE = {0.1, 0.1}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Pepe the Frog
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {850, 850}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = He he heyyy
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {900, 850}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Fred le Plaid
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {950, 850}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Nicolo
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1000, 560}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Damien l'As du Rect
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1100, 560}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Kevino Delamama
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1000, 580}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = GriiickPooooow
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1080, 600}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Corewar
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {600, 655}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = collegue
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {600, 675}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[TEXT | XP | VISIBLE]
TEXT = "Level 1"
CLICK = NULL
HOVER = NULL

[ENTITY]
[PLAYER | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/player.png;{0, 90, 40, 30}
POS = {450, 600}
CLICK = NULL
HOVER = NULL
ATTACK = 30
HEALTH = 20
