[ENTITY]
[VISIBLE]
NAME = Royaume_de_Selestat
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/maps/map3.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[BAR | INVENTORY | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/InventorySlots.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[BAR | XP | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/level_bar.png;{0, 150, 200, 30}
SCALE = {0.75, 0.75}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[ITEM | ON_MAP | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/empty.png
POS = {400, 400}
CLICK = add_life
HOVER = NULL


[ENTITY]
[ITEM | ON_MAP | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/empty.png
POS = {2520, 1368}
CLICK = add_life
HOVER = NULL

[ENTITY]
[HEART | FULL_LIFE | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/hearts.png;{0, 0, 300, 300}
SCALE = {0.1, 0.1}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[HEART | FULL_LIFE | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/hearts.png;{0, 0, 300, 300}
SCALE = {0.1, 0.1}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[HEART | FULL_LIFE | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/UI/hearts.png;{0, 0, 300, 300}
SCALE = {0.1, 0.1}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Pepe the Frog
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {850, 850}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = He he heyyy
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {900, 850}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = He he heyyy
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {572, 1228}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = He he heyyy
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {560, 1228}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Fred le Plaid
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {950, 850}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Nicolo
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1000, 560}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Damien l'As du Rect
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1100, 560}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Kevino Delamama
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1000, 580}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = GriiickPooooow
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1080, 600}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = Corewar
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {600, 655}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = collegue
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {600, 675}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = salope
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1784, 936}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = salope
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {1850, 936}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = salope
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {2424, 1256}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = salope
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {2300, 1280}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[MOB | VISIBLE]
NAME = salope
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/enemy.png;{0, 60, 45, 35}
POS = {2380, 1400}
CLICK = kill_entity
HOVER = NULL

[ENTITY]
[TEXT | XP | VISIBLE]
TEXT = "Level 1"
CLICK = NULL
HOVER = NULL

[ENTITY]
[PLAYER | VISIBLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/player.png;{0, 90, 40, 30}
POS = {1200, 852}
CLICK = NULL
HOVER = NULL
ATTACK = 1

[ENTITY]
[NPC | VISIBLE]
NAME = fisherman
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png1.png;
SCALE = {0.3, 0.3}
TEXT = "Hey you i need lures to fish.\n Can you kill two mobs for me so I can use them"
TEXT_SCALE = {0.3, 0.3}
POS = {990, 852}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = trigger_fisherman
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {985, 835}
CLICK = launch_fisherman
HOVER = NULL

[ENTITY]
[NPC | VISIBLE]
NAME = guard_1
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png3.png;
SCALE = {0.3, 0.3}
TEXT = "Guard : Hey i am a protector of Selestat nice to meet you"
TEXT_SCALE = {0.3, 0.3}
POS = {1588, 560}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = trigger_guard_1
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {1588, 540}
CLICK = NULL
HOVER = NULL

[ENTITY]
[NPC | VISIBLE]
NAME = woman_house_1
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png_girl2.png;
SCALE = {0.3, 0.3}
TEXT = "Woman : What a beautiful day I might go at the beach"
TEXT_SCALE = {0.3, 0.3}
POS = {1632, 320}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = trigger_woman
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {1632, 300}
CLICK = NULL
HOVER = NULL

[ENTITY]
[NPC | VISIBLE]
NAME = Fishmongeress
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png_girl_1.png;
SCALE = {0.3, 0.3}
TEXT = "Fishmongeress : come buy my fish it is fresh"
TEXT_SCALE = {0.3, 0.3}
POS = {2616, 616}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = Fishmongeress
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {2616, 596}
CLICK = NULL
HOVER = NULL

[ENTITY]
[NPC | VISIBLE]
NAME = Fishmongeress_sister
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png_girl_1.png;
SCALE = {0.3, 0.3}
TEXT = "Girl : my sister is probably at work in town"
TEXT_SCALE = {0.3, 0.3}
POS = {756, 300}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = Fishmongeress_sister
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {756, 280}
CLICK = NULL
HOVER = NULL


[ENTITY]
[NPC | VISIBLE]
NAME = butcher
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png2.png;
SCALE = {0.3, 0.3}
TEXT = "Butcher : come buy my meat"
TEXT_SCALE = {0.3, 0.3}
POS = {1856, 348}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = trigger_butcher
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {1856, 328}
CLICK = NULL
HOVER = NULL

[ENTITY]
[NPC | VISIBLE]
NAME = guard_2
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/npc/png3.png;
SCALE = {0.3, 0.3}
TEXT = "Guard : the monsters are really increasing lastly..."
TEXT_SCALE = {0.3, 0.3}
POS = {1720, 500}
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST_TRIGGER]
NAME = trigger_guard_2
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/quest_trigger.png
POS = {1720, 480}
CLICK = NULL
HOVER = NULL

[ENTITY]
[TEXT | XP | VISIBLE]
TEXT = "Level"
CLICK = NULL
HOVER = NULL

[ENTITY]
[QUEST]
NAME = fisherman_quest
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/quests/fisherman_quest.png
POS = {360, 885}
CLICK = NULL
HOVER = NULL

[ENTITY]
[]
NAME = reset_quest
RECT = FALSE
SPRITE = TRUE
SCALE = {0.3, 0.3}
TEXTURE = assets/menu/buttons/reset.png
POS = {420, 885}
CLICK = reset_quest
HOVER = hovered
