[ENTITY]
[LOADING]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/loading/loading_screen.png
SCALE = {0.75, 0.75}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[LOADING]
NAME = mc
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/player/player.png;{0, 90, 40, 30}
SCALE = {6.5, 6.5}
POS = {100, 850}
CLICK = NULL
HOVER = NULL
