[ENTITY]
[MENU]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/menu_background.jpeg
SCALE = {0.75, 0.75}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/play.png
SCALE = {1.0, 1.0}
POS = {850, 300}
CLICK = set_to_play
HOVER = hovered

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/quit.png
SCALE = {1.0, 1.0}
POS = {850,600}
CLICK = set_to_quit
HOVER = hovered

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/options.png
SCALE = {1.0, 1.0}
POS = {850, 900}
CLICK = set_to_play
HOVER = hovered
