[ENTITY]
[MENU | SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/menu_background.jpeg
SCALE = {0.75, 0.75}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/play.png
SCALE = NULL
POS = {850, 300}
CLICK = set_to_play
HOVER = hovered

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/options.png
SCALE = NULL
POS = {850,600}
CLICK = options_menu
HOVER = hovered

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/quit.png
SCALE = NULL
POS = {850, 900}
CLICK = set_to_quit
HOVER = hovered

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/window_size.png
SCALE = NULL
POS = {700, 200}
CLICK = NULL
HOVER = NULL

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/1920x1080.png
SCALE = NULL
POS = {1000, 200}
CLICK = window_size:1920x1080
HOVER = hovered

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/2560x1600.png
SCALE = NULL
POS = {1200,195}
CLICK = window_size:2560x1600
HOVER = hovered

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 300}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = up
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 400}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = down
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 500}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = left
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 600}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = right
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 700}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = pick
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 800}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = grab
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 900}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = pause
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {700, 1000}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = slot_1
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {20, 20}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = slot_2
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {20, 20}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = slot_3
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {20, 20}
CLICK = set_key
HOVER = hovered

[ENTITY]
[SETTINGS]
NAME = slot_4
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {20, 20}
CLICK = set_key
HOVER = hovered

[ENTITY]
[IN_GAME_MENU]
NAME = map
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/maps/map2.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[IN_GAME_MENU]
NAME = play
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/play.png
SCALE = NULL
POS = {850, 500}
CLICK = set_to_play
HOVER = hovered

[ENTITY]
[IN_GAME_MENU]
NAME = options
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/options.png
SCALE = NULL
POS = {850,600}
CLICK = options_menu
HOVER = hovered

[ENTITY]
[IN_GAME_MENU]
NAME = quit
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/quit.png
SCALE = NULL
POS = {850, 700}
CLICK = start_menu
HOVER = hovered
