[ENTITY]
[MENU | SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/menu_background.jpeg
SCALE = {0.75, 0.75}
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/play.png
SCALE = NULL
POS = {850, 300}
CLICK = set_to_play
HOVER = hovered

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/options.png
SCALE = NULL
POS = {850,600}
CLICK = options_menu
HOVER = hovered

[ENTITY]
[MENU | CLICKABLE]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/quit.png
SCALE = NULL
POS = {850, 900}
CLICK = set_to_quit
HOVER = hovered

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/window_size.png
SCALE = NULL
POS = {700, 300}
CLICK = NULL
HOVER = NULL

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/1920x1080.png
SCALE = NULL
POS = {1000, 300}
CLICK = window_size:1920x1080
HOVER = hovered

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/2560x1600.png
SCALE = NULL
POS = {1200,295}
CLICK = window_size:2560x1600
HOVER = hovered

[ENTITY]
[SETTINGS]
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/home_button.png
SCALE = NULL
POS = {20, 20}
CLICK = start_menu
HOVER = hovered

[ENTITY]
[IN_GAME_MENU]
NAME = map
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/maps/map2.png
POS = NULL
CLICK = NULL
HOVER = NULL

[ENTITY]
[IN_GAME_MENU]
NAME = play
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/play.png
SCALE = NULL
POS = {850, 500}
CLICK = set_to_play
HOVER = hovered

[ENTITY]
[IN_GAME_MENU]
NAME = options
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/options.png
SCALE = NULL
POS = {850,600}
CLICK = options_menu
HOVER = hovered

[ENTITY]
[IN_GAME_MENU]
NAME = quit
RECT = FALSE
SPRITE = TRUE
TEXTURE = assets/menu/buttons/quit.png
SCALE = NULL
POS = {850, 700}
CLICK = start_menu
HOVER = hovered
